.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  margin: 30px;
  border-radius: 10px;
  border: 2px solid #3D73F1;
  box-shadow: 0 0 5px #3D73F1;
  margin-top: 40px;

  @media(max-width:600px) {
  width: 150px;
  height: 200px;
      }
}
img{
  width: 90px;
  @media (max-width:800px) {
      width: 70px;
  }
}
.title{
  color: white;
  font-size: 20px;
  font-weigth: 700;
  text-align: center;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  margin-bottom: 50px;

  @media (max-width:600px) {
      width: 100%;
      margin-block: 15px;
      }
}
