<div class="container">
    <div class="subContainer">

        <form action="/">
            <button type="submit" class="button">
                Inicio
            </button>
        </form>
        <form action="/about">
            <button type="submit" class="button">
                Sobre
            </button>
        </form>
        <form action="/skills">
            <button type="submit" class="button">
                Tecnologias
            </button>
        </form>
        <form action="/project">
            <button type="submit" class="button">
                Projetos
            </button>
        </form>
        <form action="/contact">
            <button type="submit" class="buttonContact">
                Contato
            </button>
        </form>

    </div>
</div>
