
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  background-color: #00008B;
  padding-top: 50px;

  @media (max-width:600px) {
      margin-top: 30px;
      margin-bottom: 50px;
   }
  }
.title{
  padding-left: 100px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
@media(max-width:800px){
  .title {
    padding-left: 20px;
    margin-bottom: 50px;
  }
}
.subContainer{
display: flex;
justify-content: center;
align-self: center;
flex-direction: column;
height: 90%;
width: 90%;
}



