<div class="project">

  <div class="container">

      <h1>Aplicativo To save</h1>

      <video src='../../../assets//video//tosave.mp4' controls muted></video>

      <div class="containerButton">

          <div class="subContainerButton">
            <form action="https://github.com/jeymes">
              <button type="submit" class="button">
                  Github
              </button>
            </form>
          </div>

      </div>

  </div>

  <div class="container">

    <h1>Aplicativo Gym</h1>

    <video src='../../../assets//video//gym.mp4' controls muted></video>

    <div class="containerButton">

        <div class="subContainerButton">
          <form action="https://github.com/jeymes/Ignite-Gym">
            <button type="submit" class="button">
                Github
            </button>
          </form>
        </div>

    </div>

</div>

<div class="container">

  <h1>Aplicativo Teams</h1>

  <video src='../../../assets//video//teams.mp4' controls muted></video>

  <div class="containerButton">

      <div class="subContainerButton">
        <form action="https://github.com/jeymes/IgniteTeams">
          <button type="submit" class="button">
              Github
          </button>
        </form>
      </div>

  </div>

</div>

<div class="container">

<h1>Aplicativo New Fashion</h1>

<video src='../../../assets//video//newfashion.mp4' controls muted></video>

<div class="containerButton">

    <div class="subContainerButton">
      <form action="https://github.com/jeymes/New-Fashion">
        <button type="submit" class="button">
            Github
        </button>
      </form>
    </div>

</div>

</div>
<div class="container">

<h1>Site Store Cell</h1>

<video src='../../../assets//video//storecell.webm' controls muted></video>

<div class="containerButton">

    <div class="subContainerButton">
      <form action="https://github.com/jeymes/Store-Cell">
        <button type="submit" class="button">
            Github
        </button>
      </form>
    </div>

</div>

</div>

</div>
