.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color: #00008B;
  padding-top: 100px;
  padding-bottom: 100px;
}
.title{
  padding-left: 100px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
@media(max-width:800px){
  .title {
    padding-left: 20px;
    margin-bottom: 50px;
  }
}

