<div class="container">
  <h1 class="titleAbout">
    Quem Sou ?
 </h1>
    <div class="subContainer">


        <div class="containerImg">
            <img src="../../../assets//img//jeymes.jfif" alt="dev">
        </div>

        <div class="containerTitle">

            <h1 class="title">
                Jemerson de Sousa Pinheiro
            </h1>

            <p class="description">
                Tenho 22 anos, moro em Barras/Pi faço faculdade de Análise de desenvolvimento de sistemas atualmente no 3.º semestre, não consigo fica parado sempre que posso assistir aulas no YouTube, faço cursos pela internet como os da Rocketseat, Dio e Sujeito a Programador, gosto muito de pesquisa e ver as documentações das tecnologias estudo sobre as que, mas admiro, gosto muito de fazer meus próprios projetos e ando me desafiando a cada dia.
                <br>
                <br>

                A minha primeira curiosidade sobre T.I foi tenta descobrir como e feito os, app, sites e paginas da internet quando comecei a pesquisa sobre, logo comecei-me apaixonar por tecnologia quando comecei a fazer as minhas primeiras paginas eu logo fiquei muito impressionado como uma tela branca se transforma em algo incrível e surpreendente.
                <br>
                <br>

                Sendo assim, decidir foca o meu tempo e as minhas folgas para aprender cada dia, mas sobre desenvolvimento web, todos os dias foco para desenvolver ferramentas de qualidade que venha somar no dia-a-dia.
            </p>

        </div>


    </div>
</div>
