.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-self: center;
  background-color: #00008B;
  padding-top: 50px;
  padding-bottom: 100px;
}
.titleAbout{
  padding-left: 100px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.subContainer{
  display: flex;
  width: 90%;
  justify-content: center;
  align-self: center;
  /* border: 1px solid red; */
}
.containerTitle{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-self: center;
  /* border: 1px solid red; */
}
.title{
  padding-left: 50px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.description{
  color: white;
  font-size: 17px;
  font-weight: 100;
  padding: 50px;
}
.containerImg{
  display: flex;
  width: 50%;
  padding: 50px;
  justify-content: center;
  align-self: center;
  /* border: 1px solid red; */
}
img{
  width: 100%;
  border-radius: 100%;
}
